<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap desktop com rescap">

  <Identity
    Name="__PACKAGE_IDENTITY__"
    Publisher="__PACKAGE_PUBLISHER__"
    Version="0.1.5.0" />

  <Properties>
    <DisplayName>GitTool Experimental</DisplayName>
    <PublisherDisplayName>__PUBLISHER_DISPLAY_NAME__</PublisherDisplayName>
    <Logo>Assets\AppIcon.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="GitTool Experimental"
        Description="A focused native utility for cloning and managing Git repositories."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\AppIcon.png"
        Square44x44Logo="Assets\AppIcon.png">
        <uap:DefaultTile />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation
            ToastActivatorCLSID="6F7CC6A0-27F8-4A9A-82D3-B28F4C2F845A" />
        </desktop:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer
              Executable="GitTool.App.exe"
              Arguments="----AppNotificationActivated:"
              DisplayName="GitTool Experimental">
              <com:Class Id="6F7CC6A0-27F8-4A9A-82D3-B28F4C2F845A" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
